{% comment %}

    First, a view would redirect to the last page the user came from. If
    this is not available (because somebody fiddled in the url), we redirect
    to this common success page.

    Normally a user should never see this page.

{% endcomment %}

{% load i18n %}
{% load frontendadmin_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de"><head>
    <title>django-frontendadmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
</head>

<body>
<div style="width: 60%; margin: 20px auto;">
	<h1>Success!</h1>
	<p>
		<a href="javascript:window.history.go(-2)">Go back</a>
	</p>
</div>
</body>
</html>
